6_soapservice/src/main/mule/6_soapservice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="76cfa02f-ec42-46fe-9117-733d9874c2df" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="e7f6112f-4116-48c0-86b0-aeff8f64f2bb" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="6_soapserviceFlow" doc:id="a97c2a02-0bc6-435d-a97d-2740a48e3b3f" >
		<http:listener doc:name="Listener" doc:id="b04dbd20-d684-4288-8362-a67c3fae2758" config-ref="HTTP_Listener_config" path="/addTwoNumbers"/>
		<set-variable value="#[attributes.queryParams.Number1]" doc:name="Set Variable" doc:id="93e5bae7-217a-4109-9493-e831c4c5bf6b" variableName="var1"/>
		<set-variable value="#[attributes.queryParams.Number2]" doc:name="Set Variable" doc:id="47120fb0-2462-4986-acd5-00d6c004942c" variableName="var2"/>
		<ee:transform doc:name="Transform Message" doc:id="1b902cc1-eb2e-418e-9280-6cd43469939b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Add: {
		ns0#intA: vars.var1 as Number,
		ns0#intB: vars.var2 as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="e35439cd-8f98-4fb0-bd6d-af0636da0cfc" config-ref="Web_Service_Consumer_Config" operation="Add"/>
		<logger level="INFO" doc:name="Logger" doc:id="2b4a1b22-f40b-4a5c-96e3-cf7cd40e4af3" message="#[payload.body.AddResponse.AddResult]"/>
	</flow>
</mule>
