11_choice_router/src/main/mule/11_choice_router.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracing="http://www.mulesoft.org/schema/mule/tracing" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/tracing http://www.mulesoft.org/schema/mule/tracing/current/mule-tracing.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e8d40190-96b3-4f13-8019-33f6fede8b4b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="11_choice_routerFlow" doc:id="84e3d3be-6273-4621-ad05-145c8e6ffdea" >
		<http:listener doc:name="choiceRouter" doc:id="3dbd4907-03eb-450d-8062-be9b98ae5664" config-ref="HTTP_Listener_config" path="/hello"/>
		<set-variable value="#[attributes.queryParams.country]" doc:name="Set Variable" doc:id="55612a89-deb6-4961-ac51-8692321bc0e0" variableName="countryName"/>
		<choice doc:name="Choice" doc:id="5c5d52c5-ed8f-4153-b272-9aacad3f544a" >
			<when expression='#[vars.countryName == "UnitedStates"]'>
				<logger level="INFO" doc:name="Logger" doc:id="3dd234e2-9791-43d6-bba2-356658f8dc7c" message="Country is united states"/>
			</when>
			<when expression='#[vars.countryName == "India"]'>
				<logger level="INFO" doc:name="Logger" doc:id="97bf0d80-dd36-47fa-b2a8-965422f5363f" message="Country is India"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="32a50573-6dcb-40f5-9a4d-f727770c0a34" message="default flow"/>
			</otherwise>
		</choice>
	</flow>
</mule>
