13_batch_processing/src/main/mule/13_batch_processing.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="ea59b798-35d7-49cb-8003-544f01f4550d" >
		<file:connection workingDir="/Users/seanwilliams/AnypointStudio/studio-workspace/13_batch_processing" />
	</file:config>
	<file:config name="File_Config1" doc:name="File Config" doc:id="b0c73164-f208-4572-a6a8-b504aaa0b1f6" >
		<file:connection workingDir="/Users/seanwilliams/AnypointStudio/studio-workspace/13_batch_processing/output" />
	</file:config>
	<flow name="13_batch_processingFlow" doc:id="44bdf56b-e8e0-4ae2-a499-6c27e7a6a264" >
		<file:listener doc:name="On New or Updated File" doc:id="0f6128e7-5799-4355-972a-28863012bea1" config-ref="File_Config" directory="/Users/seanwilliams/AnypointStudio/studio-workspace/13_batch_processing/input" autoDelete="true" moveToDirectory="/Users/seanwilliams/AnypointStudio/studio-workspace/13_batch_processing/output">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="548ee393-1e61-4c1d-918e-84b465635d21" message="batch processing"/>
		<ee:transform doc:name="Transform Message" doc:id="7d9c1658-3e57-4a37-9135-31baebd3911e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="0" doc:name="Set Variable" doc:id="382713ab-542b-4ded-94ec-284a267ee6a2" variableName="batchCounter" />
		<batch:job jobName="ProcessJob" doc:id="d27ae5dc-a067-467e-8f75-53c66269a835" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="1dd4bd87-0ecb-40f1-aaae-493df22f9946" >
					<ee:transform doc:name="Transform Message" doc:id="78633d05-7a74-49da-882e-f11de8e0302d" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<logger level="INFO" doc:name="Logger" doc:id="6aa5c8dc-9a2f-4ad8-99dd-d6ab298ceb40" message='#["Batch Job ID -" ++ vars.batchJobInstanceId ++ (vars.batchCounter + 1)]'/>
					<file:write doc:name="Write" doc:id="f3f1ee20-4be2-4b35-9e13-6d512448ce8d" config-ref="File_Config1" path='#[payload[0].Loan_ID ++ ".csv"]'/>
				</batch:step>
				<batch:step name="Batch_Step1" doc:id="206114e0-8ecb-4ecd-869e-f59536ba6cd8" >
					<logger level="INFO" doc:name="Logger" doc:id="a469b29c-96dd-4049-9feb-ef86c4866f39" message="Batch Step 2 Logging"/>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="0db84925-c152-437a-8def-7bee35960c30" message="Batch Processing Complete!"/>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
