90helloworldlogginganypointplatform/src/main/mule/90helloworldlogginganypointplatform.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9adc3080-e7c6-46ac-9e1f-4f6de8922452" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="90helloworldlogginganypointplatformFlow" doc:id="0ffdda53-ff59-4c4f-b521-718a75026380" >
		<http:listener doc:name="Listener" doc:id="a4cf2f81-58bb-4176-9305-2e8af1acfb81" config-ref="HTTP_Listener_config" path="/hellologging"/>
		<set-variable value="1234" doc:name="Set Variable" doc:id="2fa34371-b213-437b-a87f-ef2110fec427" variableName="bizid"/>
		<tracking:custom-event doc:name="Custom Business Event" doc:id="772ed993-263e-4b7f-941b-94bccd35960e" event-name="BusinessID">
			<tracking:meta-data key="BusinessID" value="#[vars.bizid]" />
		</tracking:custom-event>
		<logger level="INFO" doc:name="Logger" doc:id="2f779f06-ecc0-4584-84ff-50cad7a418da" message="Hello Logging!!!"/>
	</flow>
</mule>
