.tooling-apps-cache/app/10_for_each/10_for_each.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="bb774ca1-2802-47d6-babe-c2eb6115247f" >
		<file:connection workingDir="/Users/seanwilliams/AnypointStudio/studio-workspace/10_for_each" />
	</file:config>
	<flow name="10_for_eachFlow" doc:id="6d73d2b1-4cba-4c3a-a72d-eb483229eee9" >
		<file:listener doc:name="On New or Updated File" doc:id="87d3fdd4-7520-435a-acc8-ff16c5ff718d" config-ref="File_Config" directory="/Users/seanwilliams/AnypointStudio/studio-workspace/10_for_each/input" autoDelete="true" moveToDirectory="/Users/seanwilliams/AnypointStudio/studio-workspace/10_for_each/output">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<ee:transform doc:name="Transform Message" doc:id="6adf9171-e989-485e-a718-aa5d9247019a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[attributes.path]" doc:name="Set Variable" doc:id="de7dfffb-9d18-48c7-9ffe-4c06b3f440e8" variableName="filePath"/>
		<foreach doc:name="For Each" doc:id="300fb739-c157-4d24-8227-91ded2b38bf0" >
			<logger level="INFO" doc:name="Logger" doc:id="e6599ec5-80dd-420d-a1b5-4951545d76e7" message="#[payload]" />
			<set-variable value='#[payload[0] ++ ".csv"]' doc:name="Set Variable" doc:id="e451289c-2272-4282-a8aa-d1427e682098" variableName="fileName"/>
			<ee:transform doc:name="Transform Message" doc:id="673f2db9-f49f-4c4f-9f54-8408bb44f876">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/csv
---
payload]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<file:write doc:name="Write" doc:id="8b215bec-5785-45b8-a8da-6797278baf3f" config-ref="File_Config" path='#[replace(vars.filePath, "input/sample.csv") with "output/" ++ vars.fileName]'/>
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="93c92a94-d702-4486-8f98-77ee47c624f5" message="after for each"/>
	</flow>
</mule>