24parsetemplate/src/main/mule/24parsetemplate.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7a6a13b5-f309-4761-b09d-652e974a132e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="24parsetemplateFlow" doc:id="c15bad2c-df0b-4bd4-ac2e-b86bfbc88785" >
		<http:listener doc:name="POST /employees" doc:id="15422c66-e07c-47e8-8e01-df9ebc8028f0" config-ref="HTTP_Listener_config" path="/employees" allowedMethods="POST"/>
		<parse-template doc:name="Parse Template" doc:id="5db137a0-9b02-413e-aa9d-07c7805d7475" >
			<content >&lt;html&gt;
&lt;body&gt;
&lt;table&gt;
&lt;tr&gt;
&lt;th&gt;Employee Name&lt;/th&gt;
&lt;th&gt;Employee ID&lt;/th&gt;
&lt;th&gt;Employee EmailID&lt;/th&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td&gt;#[payload.empName]&lt;/td&gt;
&lt;td&gt;#[payload.empID]&lt;/td&gt;
&lt;td&gt;#[payload.empEmailID]&lt;/td&gt;
&lt;/tr&gt;
&lt;/table&gt;
&lt;/body&gt;
&lt;/html&gt;</content>
		</parse-template>
	</flow>
</mule>
