12_scatter_gather/src/main/mule/12_scatter_gather.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b4a1f125-5e9a-4874-ba6d-f2929ffb9d07" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="12_scatter_gatherFlow" doc:id="cd0f1013-a6a0-4ae2-bebc-a12e881862a3" >
		<http:listener doc:name="GET /scatter" doc:id="5d95ae60-3a31-4d83-920b-bba193d5ce3b" config-ref="HTTP_Listener_config" path="/scatter"/>
		<set-payload value='{"message": "before payload"}' doc:name="Set Payload" doc:id="70ce2ca5-c280-451e-9c08-76fb74bd0c76" />
		<scatter-gather doc:name="Scatter-Gather" doc:id="38f9b130-1cf1-4364-ba42-284168d1c3b1" >
			<route >
				<logger level="INFO" doc:name="Logger" doc:id="b3b9bed4-41e4-49da-ba65-082ab639ca0a" message="scatter gather 1"/>
				<set-payload value='{"message": "scatter 1 payload"}' doc:name="Set Payload" doc:id="e5316ac2-d06a-4c44-bd0f-4cafcb2f7084" />
			</route>
			<route >
				<logger level="INFO" doc:name="Logger" doc:id="b98c32ba-8915-41bd-892d-9c2a2cbec393" message="scatter logger 2"/>
				<set-payload value='{"message": "scatter 2 payload"}' doc:name="Set Payload" doc:id="9873b5c0-2b89-455a-8450-c209cbfc2d66" />
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform Message" doc:id="182d2db6-7e15-42e8-9aba-cc4750d4e2c8">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2341d556-72d4-4f94-b126-8cd2aca6e03d" message='#[payload]'/>
	</flow>
</mule>
