.tooling-apps-cache/app/9_fileconnector_polling/9_fileconnector_polling.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="709bb070-5502-4ece-b213-9e27b30cbd31" >
		<file:connection workingDir="/Users/seanwilliams/AnypointStudio/studio-workspace/9_fileconnector_polling" />
	</file:config>
	<flow name="9_fileconnector_pollingFlow" doc:id="f0e8467c-290b-49d7-a9ce-f097d5a3c38f" >
		<file:listener doc:name="FileProcessingFlow" doc:id="764a3ef5-59eb-45ea-b15e-e8aa0584dd2e" directory="/Users/seanwilliams/AnypointStudio/studio-workspace/9_fileconnector_polling/input" config-ref="File_Config" moveToDirectory="/Users/seanwilliams/AnypointStudio/studio-workspace/9_fileconnector_polling/output" autoDelete="true">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="68ab85e2-4a91-4c71-b1af-40e25bd26575" message="#[payload]"/>
	</flow>
</mule>